* {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-user-select: none;  /* Chrome all / Safari all */
	-moz-user-select: none;     /* Firefox all */
	-ms-user-select: none;      /* IE 10+ */
	user-select: none;
	padding: none;
	margin: none;
}
body{
	margin: 0 auto;
	background: url("../img/RED-brickwall.jpg");
	background-repeat: no-repeat;
}
#nav{
	background-color: rgba(255,255,255,.9);
	width: 100%;
	height: 66px;
	margin-bottom: -80px;
	z-index: 2;
	position: fixed;
	padding: 10px;
}
.nav-scrolled{
	position: fixed;
	width: 100%;
	top: 0;
}
#section-1 {
	color: #fff;
	width: 100%;
	padding-top: 100px;
	padding-left: 50px;
	padding-right: 50px;
	z-index: 1;
	height: 500px;
	text-align:center;
}
#section-1 h1{
	margin: 0px auto;
	padding: 10px 10px 23px 10px;
	background-color: rgba(0,0,0,.0);
	text-shadow: 2px 2px 2px #000;
	border-radius: 5px; 
}
#bio{
	padding: 20px;
	text-align: center;
	font-size: 18px;
	color:#000;
}
#bio-container
{
	margin: auto;
	margin-left: 400px;
	background-color: rgba(255,255,255,1);
	border-radius: 5px;
	float: right;
}
#section-2 {
	background: #fff;
	width: 100%;
	clear:both;
	display: table;
	content: "";
}
#project-container{
	clear:both;
	content: "";
	overflow: auto;
	padding: 0 0 50px 0;
}
#project-header{
	text-align: center;
	margin:20px;
}
.thumbnail
{
	width: 30%;
	height: 30%;
	background-color: rgba(255,255,255,.9);
	float: left;
}
#thumbnail-1
{
	margin: 0px 4% 0px 0px;
}
#thumbnail-2
{
	margin: 0px 1% 0px 1%;
	float: left;
}
#thumbnail-1:hover, #thumbnail-2:hover, #thumbnail-3:hover {
	opacity: 0.7;
}
#thumbnail-3
{
	margin: 0px 0px 0px 4%;
	float: right;
}
#section-3{
	color: #fff;
}
#contact-container
{
	margin:50px auto;
	padding: 20px;
	width: 60%;
	color: #000;
	background-color: rgba(255,255,255,1);
	text-align: center;
	float: none;
	border-radius: 5px;
}
#contact-container p{
	font-size: 18px;
}
#contact-container a{
	text-shadow: none;
}
#contact-container h2{
	color:#000;
	text-shadow: none;
}
.h1-responsive{
	padding-bottom: 50px;
}

@media screen and (max-width:760px){
	body{
		width: 100%;
		font-size: 1em;
		background: url("../img/red-brickwall760.jpg");
	}
	#bio-container{
		width: 100%;
	}
	#bio-header{
		padding: 0;
		margin: 0;
		text-shadow: 2px #000;
	}
	#section-2{
	padding: 0 20px;
	}
	.thumbnail{
		width: 50%;
	}
	#thumbnail-1, #thumbnail-2, #thumbnail-3{
		display: block;
		float: none;
		clear: both;
		margin: 20px auto;
	}
}
